/* 通配 */
	* {
		margin: 0;
		padding: 0;
		background-color: #fdfcf8;
		/*border: 1px solid transparent;*/
	}
	 ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.wrapper {
		margin: auto;
		padding: 0px;
		/* border: 1px solid black; */
		width: 80%;
		text-align: left;
		background-color: #fdfcf8;
	}
/*头部*/
	.header {
		width: 100%;
		height: 100px;
		/* display: inline-block; */
	}
	h1.title {
		margin: 10px 10px 0px 10px;
		width: 800px;
		height: 100px;
		float: left;
		border: 1px solid transparent;
	}	
	.title {
		background: url(../img/bg.png) no-repeat 0 -150px;
		}
	.title:hover {
		background: url(../img/bg.png) no-repeat 0 -250px;
		cursor: pointer;
	}
	.search {
		margin: 10px 12px 0px 10px;
		width: 310px;
		height: 100px;
		float: right;
		border: 1px solid transparent;
	}
	.search_box {
		margin: 30px 0px 0px 10px;
		width: 256px;
		height: 28px;
		border: 1px solid gainsboro;
	}
	.go {
		margin: -31px 6px 0px 0px;
		width: 30px;
		height: 30px;
		float: right;
		background-color: #BD2D30;
	}
	.go p {
		margin: 4px 0px 0px 4px;
		color: white;
		background-color:  #BD2D30;
	}
	
/*中部*/
	.nav {
		margin: 0px 10px 0px 10px;
		padding: 0px;
	}
	.nav_div {
		margin: -3px;
		padding: 0px;
		width: 172px;
		height: 48px;
		background-color: gainsboro;
		text-align: center;
		line-height: 48px;
		display: inline-block;
	}
	.nav_div:hover {
		background:  #444;
		cursor: pointer;
		color: white;
	}
	/* 左部 */
	.left {
		margin-left: 7px;
		float: left;
		padding: 0px;
		width: 180px;
		border: 1px solid gainsboro;
	}
	/* 左样式 */
	.left h2 {
		margin-left: 3px;
		padding: 5px;
		font-size: 14px;
	}
	.left li {
		margin-top:5px ;
		margin-left: 5px;
		height: 30px;
		background-color: transparent;
	}
	.left li:hover {
		cursor: pointer;
		margin-left: 0px;
		background-color: #DCDCDC;
	}
	.left ul a {	
		display: block;
		font-size: 12px;
		padding: 5px 0 5px 15px;
		text-decoration: none;
		background-color: transparent;
	}
	.left li>a:link , .left li>a:visited{
		color: black;
		background: transparent;
	}
	.left ul a:hover {
		text-decoration: none;
		color: #fff;
		background: #DCDCDC;
	}
	/* 左部最底下 */			
	.link_about{
		margin-top: 20px;
	}
	.link_help {
		margin-top: 5px;
	}
	.link_about a , .link_help a {
		display: inline;
		text-decoration: none;
		color: #0479A7;
	}
	.link_about a:hover , .link_help a:hover{
		text-decoration: underline;
	}
	
	/* 右部 */
	.right{
		margin-right: 12px;
		float: left;
		padding-bottom: 107px;
		width: 180px;
		height: inherit;
		border: 1px solid gainsboro;
	}	
	.right h2{
		margin-left: 3px;
		padding: 5px;
		font-size: 14px;
	}
	.right li {
		margin-top:5px ;
		margin-left: 5px;
		height: 30px;
		background-color: transparent;
	}
	.right li:hover {
		cursor: pointer;
		margin-left: 0px;
		background-color: #BD2D30;
	}
	.right a {
		display: block;
		font-size: 12px;
		padding: 5px 0 5px 15px;
		text-decoration: none;
		border-bottom: 0px solid #ddd;
		background-color: transparent;
	}
	.right a:link , .right a:visited{
		color: #900b09;
		background: transparent;
	}
	.right a:hover {
		text-decoration: none;
		color: #fff;
		background: #BD2D30;
	}
	
	/* 中间 */
	.middle {
		padding-top: 50px;
		width: 832px;
		float: left;				
	}
	.c1 {
		margin-left: 20px;
		padding-bottom: 50px;
		width: 700px;				
		display: block;
		text-align: center;
	}

	.c1 > h2 {
		margin-top: 35px;
	}
	.c1 > p {
		font-size: 18px;
		margin-top: 12px;
		line-height: 40px;
	}
	.c1 #p3 {
		font-weight: 800;
	}
	.c2 {
		border-top: 1px solid #aaa;
	}
	
	.c2 , .c3 , .c4 , .c5 , .c6 , .c7 {
		margin-left: 25px;
		padding-bottom: 60px;
		text-align: left;
		width: 782px;
		border-bottom: 1px solid #aaa;
		display: block;
	}
	.c2_img , .c3_img , .c4_img , .c5_img , .c6_img , .c7_img {
		margin: 0px 0px -118px 0px;
		padding-top: 60px;
	}
	.middle h2{
		font-size: 24px;
		margin-left: 110px;
		margin-top: 35px;
	}
	.middle p {
		font-size: 16px;
		margin-top: 12px;
		margin-left: 110px;
		line-height: 30px;
	}
	.middle a {
		margin-top: 12px;
		margin-left: 110px;
		line-height: 30px;
		color: #900b09;
	}
	#c7_id1 {
		line-height: 66px;
		margin-left: 25px;
	}
	/* 链接样式 */
	.middle a:link {
		text-decoration: none;
		color: #900b09;
		background: transparent;
		border-bottom: 1px solid #900b09;
	}
	.c8 {
	margin-bottom: 0px;
	}
	.c8_img1 #img_c8 {
		margin: 0px 0px -110px 0px;
	}
	.c8_img2 #i1{
		background: transparent url(../img/icon9.png) top left no-repeat;
	}

	.c8_img2 #i2{
		background: transparent url(../img/icon10.png) top left no-repeat;
	}
	.c8_img2 #i1 , .c8_img2 #i2{
		margin-left:45px;
		margin-top:50px;
		width:297px;
		float:left;
		border:0;
	}
	.middle h3 {
		margin-right: 90px;
		margin-top:20px;
		margin-left:80px;
		font-size:14px;
		color: #DCDCDC;
	}
	.c8_img2 #i1 a {
		margin-top: 12px;
		margin-left: 53px;
		line-height: 50px;
		color: #900b09;
	}
	.c8_img2 #i2 p{
		font-size: 14px;
		margin-top: -4px;
		margin-right: 87px;
		margin-left: 63px;
		line-height: 50px;
	}
/* 脚部 */
	.footer {
		clear: both;
		margin: 0;
		padding-top: 16px;
		margin-left: 7px;
		width: 1194px;
		line-height: 24px;
		border-top: 1px solid gainsboro;
		background: #fdfcf8 url(../img/footer.png) top left repeat-x;
	}
	p.a {
		font-size: 12px;
		color:  #777777;
		text-align: center;
		background: transparent url(../img/alert.png) no-repeat;
		background-position: 235px 2px;
	}
	p.b {
		margin: 30px 0 30px 0;
		font-size: 14px;
		text-align: center;
		color: #777777;
	}